*.fasta
*.gfa
*.amb
*.bwt
*.pac
*.sa
*.bed
*.bin
*.bam
*.ann
*.fastq.gz
*.fa
*.faa
*.pep
*.gff3
*.gtf
*.aa
*.codingseq
*.gff
*.hist
*.meryl/
*.meryl
*_pre
*_suf
*.qv
*.wig
slurm*

run_metazoa_odb10/
blast_db/
logs/
tmp_opt_BUSCO_*/
tmp_opt_BUSCO_BUSCO_metazoa.fasta/
busco_downloads/
01.cluster/
02.reassign/
03.sort/
04.build/
GeneMark-ETP/
errors/
Augustus/
meryl_kmer_intersect/

